@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@900&family=Noto+Sans:wght@400;700&display=swap');

// FONTS
$font-general: 'Noto Sans', sans-serif;
$font-headings: 'Noto Sans Display', sans-serif;

// FONT WEIGHTS
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;

// COLORS
$white: #fff;
$light-gray: #d9d9d9;
$black: #000;
$blue-1: #0c2f39;
$blue-2: #155263;
$blue-3: #1e758d;
$yellow-1: #ffbb09;
$yellow-2: #ffc93c;
$yellow-3: #ffd76f;
$link-color: #0490b8;
$link-visited: $blue-2;

.mce-content-body {
	font-family: $font-general;
	letter-spacing: .05rem;
	font-weight: $font-weight-regular;

	.btn {
		padding: .5rem 2rem;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		font-size: 1rem;
	}

	.btn--primary {
		background-color: $yellow-1;
		color: $white;
	}
	
	.btn--secondary {
		text-decoration: underline;
		color: $blue-3;
	}
}