body.post-type-archive-dog {
	.filtering {
		display: flex;
		flex-direction: column;
		align-items: center;

		.btn {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.btn svg {
			margin-left: 1rem;
		}

		.filtering-form-wrapper {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($blue-1, .15);
			z-index: 9999;
			
			&.hidden {
				display: none;
			}
		}

		.filtering-form-wrapper form {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $white;
			padding: 2rem;
			box-shadow:  0 0 9px 0 rgba($blue-1, .15);
			border-radius: 8px;
			width: 80%;
		}

		.filtering-form-wrapper form div:not(:last-of-type) {
			margin-bottom: 1rem;
		}

		.filtering-form-wrapper form .submit-button {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}

	.dog-archive-grid {
		display: grid;
		grid-template-columns: 1fr;
		
		@extend .standard-flex-gap;

		@media (min-width: $breakpoint-md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $breakpoint-lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.pagination .nav-links {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.pagination .page-numbers {
		text-decoration: none;
		padding: .5rem .25rem;
		color: $blue-3;

		&.current {
			color: $blue-1;
		}
	}

	.pagination a.page-numbers {
		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
		}
	}
}