@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@900&family=Noto+Sans:wght@400;700&display=swap);
.mce-content-body p {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 22px !important;
}
