.dog-card {
	display: inline-block;
	overflow: hidden;
	box-shadow: 0 0 9px 0 rgba($blue-1, .15);
	border-radius: 10px;
	height: auto !important;

	a {
		text-decoration: none !important;
		color: inherit;
	}

	figure {
		position: relative;
	}

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center;
	}

	.thumbnail-placeholder {
		background-color: $light-gray;
		width: 100%;
		aspect-ratio: 4/3;
	}

	.reserved-image-banner {
		position: absolute;
		font-size: 1rem;
		background: rgba($yellow-1, .85);
		color: $blue-2;
		top: 1rem;
		right: 0;
		padding: .25rem 2rem;
		border-radius: 8px 0 0 8px;
	}
}

.dog-card__bottom {
	padding: 1rem;

	h2 {
		font-size: 1.225rem;
		font-family: $font-general;
		font-weight: $font-weight-bold;
	}
}

.dog-card__meta {
	p {
		font-size: .85rem;
	}

	p span:not(:last-child):after {
		content: '\00B7';
		margin-left: .25rem; 
	}
}