.module-section--faqs-module {

	h2 {
		text-align: center;
		margin-bottom: 1rem;

		@media (min-width: $breakpoint-lg) {
			margin-bottom: 2rem;
		}
	}

	details {
		border: 1px solid rgba($blue-1, .25);
		color: $blue-2;
	}

	details:not(:last-child) {
		margin-bottom: 1rem;

		@media (min-width: $breakpoint-lg) {
			margin-bottom: 1.5rem;
		}
	}

	
	details summary {
		list-style: none;
		padding: 1rem 3rem 1rem 1.5rem;
		cursor: pointer;
		position: relative;
		font-size: 1.125rem;

		&::after {
			content: "";
			clip-path: polygon(100% 20%, 0 20%, 50% 80%);
			position: absolute;
			right: 1.5rem;
			top: 50%;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			background-color: $blue-2;
			transition: $standard-transition;
		}
		
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
	}

	details[open] {
		padding: 1rem 1.5rem;

		summary {
			border: 0;
			margin: -1rem -1.5rem 0;

			&::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	details ul,
	details ol {
		padding-left: 1.5rem;
	}
}