.module-section--hero-module {
    .hero {
        position: relative;
    }

    h1,
    h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    p {
        @media (min-width: $breakpoint-md) {
            color: $white;
        }
    }

    figure {
        margin: 0;
        overflow: hidden;
        position: relative;
    }

    figure img {
        object-fit: cover;
        object-position: center;
    }

    figure.hero__mobile-background,
    figure.hero__mobile-background img {
        width: 100%;
        height: 75vw;

        @media (min-width: $breakpoint-md) {
            height: 56.25vw;
        }
    }

    .hero__overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($light-gray, .25);
    }

    .hero__content {
        @media (min-width: $breakpoint-md) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    .hero__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        @media (min-width: $breakpoint-md) {
            .btn--secondary {
                color: $white;
            }
        }
    }

    // Custom styles for small hero
    .hero--small figure.hero__mobile-background,
    .hero--small figure.hero__mobile-background img {
        height: 60vw;

        @media (min-width: $breakpoint-md) {
            height: 40vw;
        }
    }

    &:last-child {
        @media (min-width: $breakpoint-md) {
            margin-bottom: 0;
        }
    }
}
