.module-section--text-and-image-module {
	.text-and-image-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@extend .standard-flex-gap;
		
		@media (min-width: $breakpoint-md) {
			flex-direction: row;
			align-items: center;

			&.image-right {
				flex-direction: row-reverse;
			}
		}
	}

	.image-wrapper {
		@media (min-width: $breakpoint-md) {
			flex: 50%;
			align-self: flex-start;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: 8px;
		}
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;

		@media (min-width: $breakpoint-md) {
			flex: 50%;
		}
	}

	.content-wrapper .btn {
		align-self: center;

		@media (min-width: $breakpoint-md) {
			align-self: flex-start;
		}
	}

}